{% extends 'base.html.twig' %}

{% block title %}Inscription Stagiaire {% endblock %}

{% block body %}
<h1>Inscription </h1>
{{form_start(formAdd)}}

{{dump (formAdd)}}



{{form_end(formAdd)}}
{% endblock %}